@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --fundo: #000000;
    --texto: #f0ffff;
    --destaque: #22d4fd;
    --hover: #222224;
}

*{
    color: var(--texto);
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--fundo);
    box-sizing: border-box;
    height: 100%;
}

.cabecalho {
    padding: 2% 15% 0% 18%;
}

.cabecalho__menu {
    display: flex;
    gap: 60px;
}

.cabecalho__menu__link {
    color: var(--destaque);
    font: 600 1rem "Montserrat", sans-serif;
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    color: var(--texto);
}

.titulo-destaque{
    color: var(--destaque);
}

.apresentacao{
    margin: 7% 18%;
    display: flex;
    align-items: flex-start;
    justify-content:space-between;
}

.apresentacao__conteudo {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 53%;
}

.apresentacao__conteudo__titulo{
    letter-spacing: 1px;
    font: 1.64rem "Krona One", sans-serif;
    line-height: 2.5rem;
}

.apresentacao__conteudo__texto{
    font: 1rem "Montserrat", sans-serif;
    line-height: 1.75rem;
}

.apresentacao__conteudo__subtitulo{
    letter-spacing: 0.06rem;
    text-align: center;
    font: 1rem "Krona One", sans-serif;
}

.apresentacao__conteudo__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.apresentacao__conteudo__links__link{
    background-color: var(--fundo);
    color: var(--texto);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 60%;
    border: 2px solid var(--destaque);
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font: 600 1rem "Montserrat", sans-serif;
}

.apresentacao__conteudo__links__link:hover {
    background-color: var(--hover);
}

.apresentacao__conteudo__links__link:active {
    background-color: var(--destaque);
}

.apresentacao__conteudo__links__link img{
    width: 25px;
}

.apresentacao__imagem {
    width: 42%;
}

.rodape {
    background-color: var(--destaque);
    padding: 15px;
    text-align: center;
}

.rodape__texto {
    font: 1rem "Montserrat", sans-serif;
    color: var(--fundo);
}

@media (max-width: 900px) {
    .cabecalho {
        padding: 10% 20%;
    }
    .cabecalho__menu {
        justify-content: center;
    }
    .apresentacao {
        flex-direction: column-reverse;
        margin: 7% 12%;
        gap: 50px;
    }
    .apresentacao__conteudo, .apresentacao__imagem {
        width: 100%;
    }
    .rodape{
        margin-top: 15px;
    }
}